<div class="table-container">
  <img src="assets/images/plus.png" alt="Add Icon" class="plus-icon" (click)="addTempRow()">

  <h1>
    <span class="yellow">
      CryptSafe
    </span>
  </h1>
  <h1>
    <span class="red">
      Bienvenido de vuelta, *nombre de usuario*
    </span>
  </h1>

  <table class="container">
    <thead>
      <tr>
        <th><h1>Sitio</h1></th>
        <th><h1>Usuario</h1></th>
        <th><h1>Contraseña</h1></th>
        <th><h1>Url referida</h1></th>
        <th><h1>Info</h1></th>
        <th><h1>Acciones</h1></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.sitio }}</td>
        <td>{{ account.usuario }}</td>
        <td>{{ account.contrasena }}</td>
        <td>{{ account.url }}</td>
        <td>{{ account.info }}</td>
        <td>
          <img src="assets/images/delete.png" alt="Delete Icon" class="delete-icon" />
          <img src="assets/images/edit.png" alt="Edit Icon" class="delete-icon" />
          <img src="assets/images/check.png" alt="Check Icon" class="delete-icon"  />
        </td>
      </tr>
  
      <tr *ngFor="let temp of tempAccounts">
        <td><input type="text" [(ngModel)]="temp.sitio" /></td>
        <td><input type="text" [(ngModel)]="temp.usuario" /></td>
        <td><input type="text" [(ngModel)]="temp.contrasena" /></td>
        <td><input type="text" [(ngModel)]="temp.url" /></td>
        <td><input type="text" [(ngModel)]="temp.info" /></td>
        <td>
          <img
            src="assets/images/check.png"
            alt="Check Icon"
            class="check-icon"
            (click)="saveRows()"
          />
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
