<div class="table-container">
  <!-- Botón de agregar/cerrar -->
  <img
    [src]="isAdding ? 'assets/images/close.png' : 'assets/images/plus.png'"
    alt="Add/Close Icon"
    class="plus-icon"
    (click)="toggleAdd()">

  <!-- Título y bienvenida -->
  <h1>
    <span class="yellow">
      CryptSafe
    </span>
  </h1>
  <h1>
    <span class="red">
      Bienvenido de vuelta, {{ username || 'Usuario' }}
    </span>
  </h1>

  <!-- Tabla de datos -->
  <table class="container">
    <thead>
    <tr>
      <th><h1>Sitio</h1></th>
      <th><h1>Usuario</h1></th>
      <th><h1>Contraseña</h1></th>
      <th><h1>Url referida</h1></th>
      <th><h1>Info</h1></th>
      <th><h1>Acciones</h1></th>
    </tr>
    </thead>
    <tbody>
    <!-- Itera sobre las cuentas y aplica clase temporal a la primera fila cuando sea temporal -->
    <tr *ngFor="let account of accounts; let i = index" [class.temporary-row]="isAdding && i === 0">
      <td>{{ account.site || '' }}</td>
      <td>{{ account.user || '' }}</td>
      <td>{{ account.password || '' }}</td>
      <td>{{ account.url || '' }}</td>
      <td>{{ account.info || '' }}</td>
      <td>
        <!-- Oculta las acciones para la fila temporal -->
        <img *ngIf="!isAdding || i !== 0" src="assets/images/delete.png" alt="Delete Icon" class="delete-icon">
        <img *ngIf="!isAdding || i !== 0" src="assets/images/edit.png" alt="Edit Icon" class="delete-icon">
      </td>
    </tr>
    </tbody>
  </table>
  
</div>
